<mat-card *ngIf="isRegistering"  class="cardVisible">
  <video autoplay muted loop id="myVideo">
    <source src="../../../assets/videoHome.mov" type="video/mp4" />
  </video>

  <mat-card-header>
    <p class="tituloLog">FilmControl Account</p>

    <button mat-button (click)="closeCardLog()" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>

  <div class="inputLog">
    <mat-form-field>
      <mat-label>Insira seu Email*</mat-label>
      <input [(ngModel)]="email" matInput placeholder="pat@example.com" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Insira sua senha*</mat-label>
      <input [(ngModel)]="senha" matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="123" />

      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

      </button>
    </mat-form-field>
  </div>

  <div class="checkoutLog"></div>
  <div class="example-button-row">
    <button mat-flat-button color="primary" (click)="Logar()">Iniciar Sessão!</button>
  </div>

  <div class="createAccount"></div>
  <div class="example-button-row2">
    <button mat-flat-button color="primary" (click)="goToRegister()">
      Criar Conta!
    </button>
  </div>
</mat-card>

<cadastro *ngIf="!isRegistering"></cadastro>
