<mat-card *ngIf="isRegistering"  class="cardVisible">
  <video autoplay muted loop id="myVideo">
    <source src="../../../assets/videoHome.mov" type="video/mp4" />
  </video>

  <mat-card-header>
    <p class="tituloLog">FilmControl Account</p>

    <button mat-button (click)="closeCardLog()" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>

  <div class="inputLog">
    <mat-form-field>
      <mat-label>Insira seu Email*</mat-label>
      <input matInput placeholder="pat@example.com" [(ngModel)]="email" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Insira sua senha*</mat-label>
      <input matInput placeholder="123" [(ngModel)]="senha" />
    </mat-form-field>
  </div>

  <div class="checkoutLog">{{ errorLog }}</div>
  <div class="example-button-row">
    <button (click)="login()" mat-flat-button color="primary">Iniciar Sessão!</button>
  </div>

  <div class="createAccount"></div>
  <div class="example-button-row2">
    <button mat-flat-button color="primary" (click)="goToRegister()">
      Criar Conta!
    </button>
  </div>
</mat-card>

<cadastro *ngIf="!isRegistering"></cadastro>
