/* SCSS para os cartões de filme */
.movie-card-container {
  flex: 0 0 18%; // Ajusta para que 5 cartões caibam em uma linha, considerando espaços
  max-width: 18%; // Ajusta a largura máxima para alinhar com o flex-basis
  margin: 1%; // Pequena margem para respiração entre cartões
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); // Sombra para profundidade
  transition: transform 0.3s ease-in-out; // Suavização para transformações
  position: relative;
  overflow: hidden; // Garante que nada saia dos limites do cartão
  cursor: pointer;

  &:hover {
    transform: scale(1.03); // Efeito de ampliação ao passar o mouse

    .movie-details {
      opacity: 1; // Mostra os detalhes ao passar o mouse
      visibility: visible;
    }
  }
}

.movie-image {
  width: 100%; // Garante que a imagem cubra toda a largura do cartão
  height: auto; // Mantém a proporção da imagem
}

.movie-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75); // Fundo escuro para melhor leitura
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.mat-card-header, .mat-card-content, .mat-card-actions {
  padding: 10px; // Uniformidade no padding
  color: #fff; // Cor do texto
}

.mat-card-actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.mat-icon-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: white;
  }
}

@media (max-width: 1024px) {
  .movie-card-container {
    flex: 0 0 48%; // Ajusta para 2 cartões por linha
    max-width: 48%;
  }
}

@media (max-width: 768px) {
  .movie-card-container {
    flex: 0 0 100%; // Um cartão por linha em dispositivos móveis
    max-width: 100%;
  }
}
