<div *ngIf="movies?.length; else emptyList">
  <mat-list>
    <mat-list-item *ngFor="let movie of movies">
      <div class="movie-details">
        <img [src]="movie.backdropPath" alt="Poster of {{ movie.nome }}" class="movie-poster">
        <div class="movie-info">
          <h3>{{ movie.nome }}</h3>
          <p>ID do Filme na API: {{ movie.idAPI }}</p>
          <button mat-button (click)="onRemove(movie)">Remover</button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
<ng-template #emptyList>
  <p class="semfilme">Nenhum filme na lista. Adicione algum!</p>
</ng-template>
