.example-spacer {
  flex: 1 1 auto;
}

.buttons-link-header {
  margin: 0 15px;
}

.navbar {
  position: relative;
  z-index: 10;
  background-color: #3f51b5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  h1 {
    margin-right: 20px;
  }
}
