<mat-toolbar color="primary" class="navbar">
  <img src="../../../assets/logoNova.png" class="logo">

  <span class="example-spacer"></span>

  <div class="btNavbar">
  <button class="buttons-link-header" mat-raised-button color="primary" (click)="navigateTo('')">Home</button>
  <button class="buttons-link-header" mat-raised-button color="primary" (click)="navigateTo('populares')">Populares</button>
  <button class="buttons-link-header" mat-raised-button color="primary" (click)="navigateTo('listas')">Listas</button>
  </div>

  <mat-form-field class="inputSearch">

    <button  (click)="openSearch()" matSuffix mat-icon-button aria-label="search" >
    <mat-icon >search</mat-icon>
    </button>

    <input id="textInput" [(ngModel)]="value" matInput type="text" placeholder="Pesquisar Filmes e Séries" (keydown)="stopClear()">

    <button  (click)="clearInput()" matSuffix mat-icon-button aria-label="Clear" >
      <mat-icon>close</mat-icon>
    </button>


  </mat-form-field>

  <span class="example-spacer"></span>

  <div class="btNavbar">
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openLogin()">
    Login
    <mat-icon>login</mat-icon>
  </button>
</div>

</mat-toolbar>



