<mat-toolbar color="primary" class="navbar">
  <img src="../../assets/logo.png" class="logo">

  <button class="buttons-link-header" mat-raised-button color="primary">Home</button>
  <button class="buttons-link-header" mat-raised-button color="primary">Populares</button>
  <button class="buttons-link-header" mat-raised-button color="primary">Listas</button>

  <mat-form-field class="inputSearch">
    <mat-icon> search </mat-icon>
    <input matInput style="font-size: large; padding-top: 1px; " placeholder="Pesquisar filmes e Séries">
  </mat-form-field>

  <span class="example-spacer"></span>

  <button  mat-raised-button (click)="openDialog()">
    Login
    <mat-icon>login</mat-icon>
  </button>

</mat-toolbar>



