<div class="movie-section">
  <h2 class="section-title">Trending Movies This Week</h2>

  <!-- Mat Stepper -->
  <mat-horizontal-stepper linear #stepper class="movie-stepper">
    <mat-step *ngFor="let group of trendingMovies; let i = index">
      <ng-template matStepLabel></ng-template>
      <div class="movies-group">
        <img *ngFor="let item of group" [src]="getMovieImageUrl(item.poster_path)" alt="{{ item.title }}" class="movie-img">
      </div>
      <div class="stepper-navigation">
        <button mat-button matStepperPrevious *ngIf="i !== 0">Back</button>
        <button mat-button matStepperNext *ngIf="i !== trendingMovies.length - 1">Next</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
