
.carousel-container {
  position: absolute;
  z-index: -1;
}

.carousel-item {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: none;
}
.carousel-item img{
  height: 620px;
  width: 99vw !important;
  object-fit: inherit !important;
  overflow: hidden !important;
  filter: blur(3px);

}

.carousel-item.active {
  opacity: 1;
  display: block;

}

.tituloPrincipal {
  padding: 295px 20px 5px 20px;
  text-align: center;
  font-family: Lato, Lato-fallback, Arial, sans-serif;
  font-size: 50px;
  color: #f8f8f8;
  font-weight: bold;
}
.btnsHome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 150px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.BtnDescubra {
  padding: 30px;
  background-color: #3f51b5;
  border: 2px solid #3f51b5;
  color: whiteSmoke;
  &:hover{
    background-color: lightblue;
    color: black;
  }
}

.BtnFunction {
  padding: 30px;
  background-color: #3f51b5;
  border: 2px solid #3f51b5;
  color: whiteSmoke;
  &:hover{
    background-color: lightblue;
    color: black;
  }
}


.fundoPrincipal {

  background-color: white;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.streaming-platforms{
  padding-top: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.streaming-platforms img{
  border-radius: 15px;
  box-shadow: inset 30px 30px 40px 40px rgb(0, 0, 0);

}



.cardsHome{
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 110px;
  align-items: center;
  text-align: center;


}
.example-card1, .example-card2, .example-card3, .streaming-platforms img {
  transition: transform .2s; /* Animation */

}

.example-card1:hover, .example-card2:hover, .example-card3:hover, .streaming-platforms img:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.example-card1, .example-card2, .example-card3 {
  background: hsla(0, 0%, 100%, 1);
  background: linear-gradient(to top, rgba(253, 253, 253, 0) 0%, rgb(189, 189, 189) 100%);
  background: -moz-linear-gradient(to top, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 42%, 1) 100%);
  background: -webkit-linear-gradient(to top, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 42%, 1) 100%);
}

.example-card1{
  width: 400px;
  height: 400px;

}
.imgCard{
  object-fit: fill;
  width: 95%;
  height: 200px;
  display: flex;
  align-items: center;
}


.example-card2{
  width: 400px;
  height: 400px;
}
.imgCard2{
  object-fit: fill;
  width: 95%;
  height: 200px;
  display: flex;
  align-items: center;

}
.example-card3{
  width: 400px;
  height: 400px;
}
.imgCard3{
  object-fit: fill;
  width: 95%;
  height: 200px;
  display: flex;
  align-items: center;

}


/* Hide default stepper icons and header */
::ng-deep .mat-horizontal-stepper-header .mat-step-icon,
::ng-deep .mat-horizontal-stepper-header .mat-step-icon-selected,
::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
  width: 100%;
}

.section-title {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 10%;
  font-size: 24px;
}

.movie-stepper {
  display: flex;
  overflow-x: auto;
  white-space: wrap;
  margin: auto;
  max-width: 80%;
}

.movie-section {
  position: relative;
}

.movies-group {
  display: flex;
  gap: 20px;
  align-items: stretch;
  padding: 20px 0;

  width: 100%;
  box-sizing: border-box;
}

.movie-card-container {
  position: relative;
  flex: 1;
  cursor: pointer;
  transition: flex-basis 0.3s ease, transform 0.3s ease;


  &:hover {
    z-index: 10;

    .movie-card-description {
      display: block;
      opacity: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      transform: translateY(0%);
      visibility: visible;

    }
  }
}

.movie-card-description {
  display: none;
  position: absolute;
  top: 0;
  height: 93%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 0 4px 4px 0;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  overflow-y: auto;
}

.movie-card {
  width: 100%;

  height: auto;
  background-color: #000;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.left-button, .right-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 15;
}

.left-button {
  left: 6%;
}

.right-button {
  right: 6%;
}

.mat-icon-button {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}




@media (max-width: 768px) {
  .movie-stepper {
    max-width: 100%;
  }
  .movies-group {
    flex-wrap: wrap;
  }
  .movie-card-container {
    flex-basis: 100%;
    &:hover .movie-card-description {
      top: 100%;
      left: 0;
      width: 100%;
      overflow-y: auto;
    }
  }
}
