// SCSS for handling the appearance and behavior of the stepper and movie cards

/* Hide default stepper icons and header */
::ng-deep .mat-horizontal-stepper-header .mat-step-icon,
::ng-deep .mat-horizontal-stepper-header .mat-step-icon-selected,
::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
  width: 100%;
}

.section-title {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 10%;
  font-size: 24px;
}

.movie-stepper {
  display: flex;
  overflow-x: auto;
  white-space: wrap;
  margin: auto;
  max-width: 80%;
}

.movie-section {
  position: relative;
}

.movies-group {
  display: flex;
  gap: 20px;
  align-items: stretch;
  padding: 20px 0;

  width: 100%;
  box-sizing: border-box;
}

.movie-card-container {
  position: relative;
  flex: 1;
  cursor: pointer;
  transition: flex-basis 0.3s ease, transform 0.3s ease;


  &:hover {
    z-index: 10;

    .movie-card-description {
      display: block;
      opacity: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      transform: translateY(0%);
      visibility: visible;

    }
  }
}

.movie-card-description {
  display: none;
  position: absolute;
  top: 0;
  height: 93%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 0 4px 4px 0;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  overflow-y: auto;
}

.movie-card {
  width: 100%;

  height: auto;
  background-color: #000;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.left-button, .right-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 15;
}

.left-button {
  left: 6%;
}

.right-button {
  right: 6%;
}

.mat-icon-button {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}




@media (max-width: 768px) {
  .movie-stepper {
    max-width: 100%;
  }
  .movies-group {
    flex-wrap: wrap;
  }
  .movie-card-container {
    flex-basis: 100%;
    &:hover .movie-card-description {
      top: 100%;
      left: 0;
      width: 100%;
      overflow-y: auto;
    }
  }
}
