<mat-card *ngIf="!isRegistering" class="cardVisible">
  <video autoplay muted loop id="myVideo">
    <source src="../../../assets/videoHome.mov" type="video/mp4">
  </video>

  <mat-card-header>
    <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">FilmControl Account</p>

    <button mat-icon-button (click)="closeCardLog()" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>

  <div class="inputLog">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <mat-form-field>

      <mat-label>Insira Seu Nome Completo!</mat-label>
      <input matInput formControlName="name"    placeholder="David Oliveira De Souza">

    </mat-form-field>

    <mat-form-field>

      <mat-label>Enter your email</mat-label>
      <input matInput  formControlName="email"   placeholder="DavidJr@example.com">

    </mat-form-field>

    <mat-form-field>

      <mat-label>Enter your password</mat-label>
      <input matInput   formControlName="password"  placeholder="123 or abc">

    </mat-form-field>

    <mat-form-field>

      <mat-label>Confirm your password</mat-label>
      <input matInput   formControlName="confirmPassword"  placeholder="123 or abc">

    </mat-form-field>

  </form>
  </div>

  <div class="BtnCadastro">

  <div class="example-button-row">
    <button mat-flat-button color="primary" type="submit" (click)="onSubmit()">Registrar!</button>
  </div>

  <div class="createAccount"></div>
  <div class="example-button-row2">
    <button mat-flat-button color="primary" (click)="goToLogin()" >Já tem uma conta? Conecte-se!</button>
  </div>

</div>
</mat-card>
