.tituloCad{
  color: whitesmoke ;
  padding-top: 8px;
  z-index: 4 !important;
  font-size: 40px;
  z-index: 1;
  font-weight: bold;

  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}
.close-button{
  position: absolute;
  background-color: transparent;
  color: white;
  border: 0;
  top: 2px;
  right: 2px;

}

.cardVisible{
  background-image: url('../../../assets/download.jfif') ; /* Adiciona um fundo azul claro */
  width: 100%; /* Aumenta a largura do cartão */
  height: 400px; /* Aumenta a altura do cartão */
}

mat-card{
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

// .inputLog{
//  width: 100px;

// }
mat-form-field{

  width: 100%;
  font-size: 18px;
  padding: 10px;
  border-width: 100px;


}
 form{

   padding: 60px;
   width: 550px;
   height: 150px;
 }
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.25em; /* Reduz a altura do campo de entrada */
}

::ng-deep .mat-form-field-label {
  color: white; /* Muda a cor do rótulo para branco */
  font-size: 18px;
}

::ng-deep .mat-form-field-underline {
  background-color: white; /* Muda a cor da linha inferior para branco */
}

::ng-deep .mat-form-field-ripple {
  background-color: white; /* Muda a cor da linha de foco para branco */
}


::ng-deep .mat-input-element {
  color: white; /* Muda a cor do texto de entrada para branco */
  font-size: 18px; /* Aumenta o tamanho da fonte */
}

.matStepperPrevious{

  background-color: aqua;

}

.BtnCadastro{
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 10px;
  margin-bottom: 10px;

}

.example-button-row2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  width: 500px;
  border-radius: 20px;
  z-index: 1;
  :hover{
    background:  lightblue;
    color: black;

   }

}
